<app-app-header [isUserLoggedIn]="true"></app-app-header>
<h2>VIEW ALL TRANSACTIONS</h2>

<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Transaction Id</th>
          <th scope="col">Transaction Amount</th>
          <th scope="col">Transaction Date</th>          
          <th scope="col">Transaction Type </th>
          <th scope="col">Customer Id</th>
          <th scope="col">Depositor Account</th>
          <th scope="col">Borrower Account</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <th scope="row">{{transaction.transactionId}}</th>
          <td>{{transaction.transactionAmount}}</td>
          <td>{{transaction.transactionDate}}</td>
          <td>{{transaction.transactionType}}</td>
          <td>{{transaction.caccount.customerId}}</td>
          <td>{{transaction.faccount.accountNumber}}</td>
          <td>{{transaction.taccount.accountNumber}}</td>       
          
        </tr>
       
      </tbody>
  </table>
