<app-app-header [isUserLoggedIn]="true"></app-app-header>
<h2>VIEW ALL ACCOUNTS</h2>

<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Customer Id</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Email</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Address</th>
          <th scope="col">Zip Code</th>
          <th scope="col">Date Of Birth</th>
          <th scope="col">Account Number</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <th scope="row">{{account.customerId}}</th>
          <td>{{account.customerName}}</td>
          <td>{{account.email}}</td>
          <td>{{account.mobile}}</td>
          <td>{{account.customerAddress}}</td>
          <td>{{account.customerZip}}</td>
          <td>{{account.customerDOB}}</td>
          <td>{{account.accountNumber}}</td>
          <td>{{account.balance}}</td>
          <td>
            <a type="button" class="btn btn-secondary" routerLink="/home/getAccountById/{{account.customerId}}">View</a>&nbsp;
            <a type="button" class="btn btn-success" routerLink="/home/updateAccountById/{{account.customerId}}">Update</a>&nbsp;
            <button type="button" class="btn btn-danger" (click)="deleteAccountById(account.customerId)">Delete</button>&nbsp;
    
          </td>
        </tr>
       
      </tbody>
  </table>